@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*,*::after,*::before {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'poppins', sans-serif;
}

body {
  font-size: 1.6rem;
}

div#root {
  height: 100%;
}